# Frontend için .gitignore

# Gereksiz dosyalar
node_modules/
.next/
out/
build/
.vercel/
.env*
.DS_Store
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Yarn için
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# coverage testi
coverage/

# Diğer klasörleri dışla
flask-backend/
